*{
   
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #d9e6c3;
    
}
.header1{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    width: 100vw;
    height: 9vh;
    
}
.header1 img{
    width: 80px;
    height: 65px;
   
}
.header1 h2{
    background-color: lightblue;
    margin-top: 15px;
    margin-left: 20px;
    color:#006500;
}
.header1 nav{
    width: 1050px;
    background-color: lightblue;
    margin-top: 25px;
    text-align: end;
  margin-left: 200px;
}
.header1 a{
    font-size: 14px;
    color: white;
    background-color: lightblue;
    margin-right: 30px;
    text-decoration: none;
   
}
.header1 a:hover{
text-decoration: underline;
color: #006500;;
}





















.sign{
    margin-top: 100px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
    background-color: #d9e6c3;
}

.section1{
    
  background-color: antiquewhite;
   
    border-style: solid;
    border-color: aquamarine;
    border-radius: 3px;
    padding: 10px 20px;
    width: 500px;
    height: 500px;
}
.section1 h2{
    margin-top: 20px;
    margin-bottom: 60px;

}
.section1 h4{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.section1 input{
  margin-bottom: 10px;
        margin-left: 30px;
   
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        width: 400px;
        height: 40px;
    
}
.section1 label{
    
    margin-left: 30px;

    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    width: 400px;
}





























.section2{
  background-color: antiquewhite;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 3px;
    padding: 10px 20px;
    width: 500px;
    height: 500px;

}

.section2 label{
    margin-left: 30px;

    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    width: 400px;
}
.section2 pre{
    margin-left: -30px;

    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
}
.section2 input{
    margin-left: 30px;

    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
    height: 40px;
}
.flexcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -60px;
}
.signup{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100px;
}
.signup:hover{
    background-color: aqua;

}




































.foot{
    background-color: lightblue;
    }
    .footer-container{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    
    
    }
    .foot img{
        width: 80px;
        height: 65px;
    }
    .foot h3{
    background-color: lightblue;
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    color:#006500;;
    }
    .foot nav{
        width: 100%;
    background-color: lightblue;
    margin-top: 20px;
    font-size: 14px;
    
    
    }
    .foot nav a{
        background-color: lightblue;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    }
    .foot nav a:hover{
    text-decoration: underline;
    color: #006500;;
    
    
    }
    
    .foot nav a{
        
        margin-left: 240px;
        background-color: lightblue;
    }
    .foot p{
       
        margin-left: 20px;
        height: 30px;
        background-color: lightblue;
    }

























    @media only screen and (max-width: 1250px) {
    .sign{
       align-items: center;
        display: flex;
        flex-direction: column;
       gap: 100px;
    }
    
    }
    @media only screen and (max-width: 895px){
        .header1 h2{
            display: block;
            margin-left: 0px;
        }

        .header1{
            display: flex;
            flex-direction: column;
            width: 410px;
            height: 100px;
        }
        .header1 nav{
            margin-left: -1px;
            display: flex;
            flex-direction: row;
            width: 460px;
            

        }
        .foot{
            display: flex;
            flex-direction: column;
            background-color:lightblue;
      
        }
        .foot div{
background-color: lightblue;
height: 100px;
        }
        .foot h3{
            width: 300px;
            margin-bottom: 100px;
background-color: lightblue;
        }
        .foot nav{
display: flex;
flex-direction: row;
background-color: lightblue;
width: 200px;
height: 50px;
        }
        .foot nav a{
            width: 100%;
            height: 50px;
margin: 0;
        }
        .foot p{
background-color: lightblue;
        }


        
        .section1{
            width: 430px;
            margin-left: -10px;
        }
    }